.app-title {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 3.6rem;
  text-align: center;
}

.counter {
  margin-block: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
}

.button {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #1a1a1a;
  color: rgb(255, 255, 255, 75%);
  cursor: pointer;
  transition: border-color 0.25s, transform 0.25s;
}
.button:hover {
  border-color: #646cff;
}
.button:active {
  transform: scale(0.9);
}